---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Image } from "@astrojs/image/components";

const TeamImg1 = "/logos.jpg";
const TeamImg2 = "/logos.jpg";
const TeamImg3 = "/logos.jpg";

const team = [
  {
    name: "Zach  ",
    title: "Branch Manager",
    avatar: {
      src: TeamImg1,
      width: 580,
      height: 560,
    },
  },
  {
    name: "Marcell",
    title: "Sales Manager",
    avatar: {
      src: TeamImg2,
      width: 580,
      height: 580,
    },
  },
  {
    name: "Nathan",
    title: "Marketing Engineer",
    avatar: {
      src: TeamImg3,
      width: 580,
      height: 580,
    },
  },
];
---

<Layout title="Our Team">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Team</Fragment>
      <Fragment slot="desc">Below is our small group of sales profesionals.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Empowering the world with Eco Shield.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We're a multi-talented team bringing our own unique experiences and sales experience. We love to train new recruits and we pride ourselves on being the #1 sales team
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        team.map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                {...item.avatar}
                format="avif"
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800"> {item.name}</h2>
              <h3 class="text-sm text-slate-500"> {item.title}</h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
