---
import Link from "./ui/link.astro";
---

<div
  class="bg-black px-20 py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-3xl md:text-6xl">Get Paid for your Hard Work</h2>
  <p class="text-slate-500 mt-4 text-lg md:text-xl">
    Our team on avarage works 4 months out of the year. With 80% of employees reaching 6 figures by there third year. We are looking for hard working individuals who are ready to make a change.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Click Me</Link>
  </div>
</div>
