---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Partners in Pest Control Excellence</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-6 md:h-10" name="fa-solid:handshake" />
    <Icon class="h-6 md:h-10" name="fa-solid:chart-line" />
    <Icon class="h-6 md:h-12" name="fa-solid:leaf" />
    <Icon class="h-6 md:h-14" name="fa-solid:house-user" />
    <Icon class="h-6 md:h-10" name="fa-solid:users" />
    <Icon class="h-6 md:h-10" name="fa-solid:heart" />
  </div>
</div>


